<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1> Hello From Spring Java</h1>
	<h1 th:text="${greeting}"></h1>
	<div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
        <a th:href="@{/index?lang=en}">Language(English)</a>
        &nbsp;|&nbsp;
        <a th:href="@{/index?lang=id}">Bahasa(Indonesia)</a>

    </div>
	<a href="add-student" th:text="#{lang.addstudent}">...</a>
	
	<!-- <p th:text="${#locale.language}"></p>
	 -->
	<table border="1">
		<tr>
			<td th:text="#{lang.firstname}">...</td>
			<td th:text="#{lang.lastname}">...</td>
			<td th:text="#{lang.age}">...</td>
		</tr>
		<tr th:each ="student : ${students}">
			<td th:text="${student.firstName}"></td>
			<td th:text="${student.lastName}"></td>
			<td th:text="${student.age}"></td>
		</tr>
	</table>
</body>
</html>