<app-toolbar></app-toolbar>

<div style="margin: 20px;width: 50%">
  <button  mat-raised-button color="primary" 
  style="width:100px;margin-bottom: 20px" (click)="addStudent()"> Add User</button>
  <table id="student">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
    </tr>
    <tr *ngFor="let student of _students">
      <td>{{student.id}}</td>
      <td>{{student.name}}</td>
      <td>{{student.age}}</td>
      <td>{{student.email}}</td>
    </tr>
  </table>
</div>